/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: rgb(60, 53, 53);
  padding-top: 20px;
  margin-top: 75px;
}

.card{
  width: 350px;
  height: 380px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}
.image{
  width: 350px;
  height: 300px;
}
.title{
  font-weight: bold;
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lowerpart{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.rightpart{
  display: flex;
  gap: 10px;
}
.single{
  background-color: rgb(54, 48, 48);
  display: flex;
 flex-direction: column;
 gap: 20px;
 padding:50px;
}
.singleimg{
 width: 1500px;
 height: 500px;
 margin: auto;
 
}
.save{
  background-color: white;
  position: fixed;
  top: 80px;
  left: 20px;
}
.page{
  display: flex;
  background-color: rgb(54, 48, 48);
  margin-top: 75px;
}
.titles{
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: 20px;
  margin-left: 10px;
}
.author{
  color: white;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}
.Navbar{
  position: fixed;
  top:0px;
  width: 100%;
  z-index: 1;
}
.partsf{
  position: relative;
  top:6px;
  left:400px;
  width:1100px;
  
}
.Formone{
  position: relative;
  top:30px;
  margin: 100px;
}